{% load static %}
<style>
    .camera-status {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .status-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: red; /* Rojo por defecto */
        margin-right: 5px;
    }

    .status-online .status-dot {
        background-color: green;
    }

    .status-offline .status-dot {
        background-color: red;
    }


</style>

<!-- Modal de Bootstrap -->
<div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="cameraModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cameraModalLabel">Cámara</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <!-- Card con overlay -->
                <div class="card text-bg-dark">
                    <!-- Imagen del feed -->
                    <img id="modalCameraImage" src="{% static 'resources/icon.png' %}" alt="Camera Feed"
                         class="card-img img-fluid">

                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <p class="card-text">Personas detectadas:</p>
                        <h4 class="card-title fw-bold" id="peopleCountValue">0</h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id="camera-status" class="camera-status">
                    <span class="status-dot" id="status-dot"></span>
                    <span id="status-text" class="text-dark">Desconectado</span>
                </span>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="camera-display">
    {% for config in camera_configs %}
        <div class="card text-bg-dark camera">
            <img id="camera-feed-{{ config.port }}" src="{% static 'resources/icon.png' %}"
                 class="card-img camera-image" alt="Camera {{ config.name }}">
            <div class="card-img-overlay" ondblclick="showInModal('{{ config.port }}')">
                <h5 class="card-title d-flex justify-content-between" id="camera-title-{{ config.port }}">
                    {{ config.name }}
                    <i class="bi bi-people-fill">
                        <span class="card-text" id="people-count-{{ config.port }}">
                            0
                        </span>
                    </i>
                </h5>

                <p class="card-text hidden" id="camera-port-{{ config.port }}">
                    {{ config.port }}
                </p>

                <!-- Estado de la cámara (online/offline) -->
                <span id="camera-status-{{ config.port }}" class="camera-status">
                    <span class="status-dot" id="status-dot-{{ config.port }}"></span>
                    <span id="status-text-{{ config.port }}">Desconectado</span>
                </span>
            </div>
        </div>
    {% endfor %}
</div>
<style>
    .camera {
        float: left;
        /* @formatter:off */
        width: calc(100% / {{ cols }} - 2px);
        height: calc(100% / {{ rows }} - 2px);
        /* @formatter:on */
        border: 1px solid #353535;
        position: relative;
    }

    @media screen and (max-width: 992px) {
        .camera {
            width: 100%;
            height: 100%;
            border: 1px solid #353535;
            position: relative;
        }
    }
</style>
