{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
    <main class="py-2">
        <div class="container-fluid">
            <div class="row justify-content-around py-2">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="dropdown" id="camera-dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            N Cameras
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for i in camera_count_range %}
                                <li>
                                    <a class="dropdown-item" href="#"
                                       onclick="updateCameraCount(event, {{ i }})">{{ i }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-11 col-md-9 col-lg-9 order-sm-last order-md-first order-lg-first">
                    <div id="camera-display-container" style="height: 65vh;">
                        <style>
                            .camera-controls {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                display: flex;
                                gap: 5px;
                            }

                            .maximize-btn, .minimize-btn {
                                background-color: rgba(0, 0, 0, 0.5);
                                color: white;
                                border: none;
                                padding: 5px 10px;
                                cursor: pointer;
                                border-radius: 4px;
                                font-size: 14px;
                            }

                            .maximize-btn:hover, .minimize-btn:hover {
                                background-color: rgba(0, 0, 0, 0.8);
                            }

                        </style>
                        <!-- Modal de Bootstrap -->
                        <div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="cameraModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cameraModalLabel">Cámara</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img id="modalCameraImage" src="{% static 'resources/icon.png' %}" alt="Camera Feed" class="img-fluid">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="camera-display">
                            {% for config in camera_configs %}
                                <div class="card text-bg-dark camera">
                                    <img id="camera-feed-{{ config.port }}" src="{% static 'resources/icon.png' %}"
                                         class="card-img camera-image" alt="Camera {{ config.name }}"
                                    >
                                    <div class="card-img-overlay" ondblclick="showInModal('{{ config.port }}')">
                                        <h5 class="card-title" id="camera-title-{{ config.port }}">
                                            Camera {{ config.name }}</h5>
                                        <p class="card-text" id="camera-port-{{ config.port }}">{{ config.port }}</p>
                                        <div class="card-text" id="people-count-{{ config.port }}">0</div>

                                        <div class="camera-controls">
                                            <button class="maximize-btn" onclick="enterFullscreen('camera-feed-{{ config.port }}')">⛶</button>
                                            <button class="minimize-btn" onclick="exitFullscreen()">⤢</button>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <style>
                            .camera {
                                float: left;
                                width: calc(100% / {{ cols }} - 2px);
                                height: calc(100% / {{ rows }} - 2px);
                                background-color: #e0e0e0;
                                border: 1px solid #ccc;
                                position: relative;
                            }

                            @media screen and (max-width: 992px) {
                                .camera {
                                    width: 100%;
                                    height: 100%;
                                    background-color: #e0e0e0;
                                    border: 1px solid #ccc;
                                    position: relative;
                                }

                            }

                            .modal-body img {
                                max-height: 80vh; /* Limita la altura máxima para evitar que ocupe más de la pantalla */
                                object-fit: contain; /* Asegura que la imagen mantenga su proporción */
                            }
                        </style>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 order-sm-first order-md-last order-lg-last">
                    <div class="row justify-content-around">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>Camaras</h3>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <ul class="list-group">
                                {% for device in devices %}
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                               id="firstRadio" checked>
                                        <label class="form-check-label" for="firstRadio">
                                            {{ device.device_id }} (A{{ device.device_id|last }})
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
                integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

        <script>
            // Objeto para guardar las conexiones WebSocket activas
            const activeWebSockets = {};

            function showInModal(port) {
                // Obtener el modal y sus elementos
                const modalImage = document.getElementById('modalCameraImage');
                const modalTitle = document.getElementById('cameraModalLabel');
                const cameraModal = new bootstrap.Modal(document.getElementById('cameraModal'));

                // Actualizar el título del modal
                modalTitle.textContent = `Cámara ${port}`;

                // Crear un nuevo WebSocket si no existe
                if (!activeWebSockets[port]) {
                    const ws = new WebSocket(`ws://127.0.0.1:${port}/ws`);
                    activeWebSockets[port] = ws;

                    // Configurar el WebSocket para recibir frames
                    ws.onmessage = (event) => {
                        const data = JSON.parse(event.data);
                        if (data.frame) {
                            // Actualizar la imagen del modal con el frame recibido
                            modalImage.src = `data:image/jpeg;base64,${data.frame}`;

                        }
                    };

                    ws.onerror = (error) => {
                        console.error(`Error en WebSocket para puerto ${port}:`, error);
                    };

                    ws.onclose = () => {
                        console.log(`WebSocket cerrado para puerto ${port}`);
                        delete activeWebSockets[port]; // Eliminar la referencia
                    };
                }

                // Mostrar el modal
                cameraModal.show();

                // Al cerrar el modal, cerrar el WebSocket si no es necesario mantenerlo
                document.getElementById('cameraModal').addEventListener('hidden.bs.modal', () => {
                    if (activeWebSockets[port]) {
                        activeWebSockets[port].close();
                        delete activeWebSockets[port];
                    }
                });
            }


            function enterFullscreen(elementId) {
                const element = document.getElementById(elementId);
                if (element.requestFullscreen) {
                    element.requestFullscreen();
                } else if (element.mozRequestFullScreen) { // Firefox
                    element.mozRequestFullScreen();
                } else if (element.webkitRequestFullscreen) { // Chrome, Safari, Opera
                    element.webkitRequestFullscreen();
                } else if (element.msRequestFullscreen) { // IE/Edge
                    element.msRequestFullscreen();
                }
            }

            function exitFullscreen() {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) { // Firefox
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) { // Chrome, Safari, Opera
                    document.webkitExitFullscreen();
                } else if (document.msExitFullscreen) { // IE/Edge
                    document.msExitFullscreen();
                }
            }



            function updateCameraCount(event, cameraCount) {
                // Evita que el enlace ancla recargue la página
                event.preventDefault();

                // Llama a la URL con el parámetro de `camera_count`
                fetch(`/?camera_count=${cameraCount}`, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('camera-display-container').innerHTML = data;
                    })
                    .catch(error => console.error('Error:', error));

                sendCameraCount(cameraCount);
            }

            function sendCameraCount(cameraCount) {
                const socket = new WebSocket('wss://echo.websocket.org/.ws');

                socket.onopen = function (e) {
                    console.log('WebSocket connection established.');
                    // Enviar un mensaje de prueba al servidor
                    socket.send('Hello, WebSocket server!', cameraCount);
                };

                socket.onmessage = function (event) {
                    console.log('Message received from server:', event.data);
                };

                socket.onerror = function (error) {
                    console.error('WebSocket error:', error);
                };

                socket.onclose = function (e) {
                    console.log('WebSocket connection closed:', e);
                };
            }

            $(document).ready(function () {



                // Código de inicialización de la página
                console.log('Página cargada');

                const camera_config = {{ camera_configs|safe }};


                camera_config.forEach((camera) => {
                    const imageRef = document.getElementById(`camera-feed-${camera.port}`); // Reemplaza con el ID de tu elemento de imagen
                    const personCountRef = document.getElementById(`person-count-${camera.port}`); // Reemplaza con el ID de tu elemento de conteo

                    const ws = new WebSocket(`ws://192.168.1.3:${camera.port}/ws`);

                    ws.onopen = () => {
                        console.log('Conexión WebSocket abierta');
                    };

                    ws.onmessage = (event) => {
                        //console.log('Mensaje recibido del servidor:', event.data);
                        // Puedes procesar la data recibida, como actualizar un elemento <video> o <img>
                    };

                    ws.onclose = (event) => {
                        console.log("WebSocket cerrado.");
                        console.log("Código:", event.code);
                        console.log("Razón:", event.reason);
                        console.log("Cierre limpio:", event.wasClean);

                        if (!event.wasClean) {
                            console.warn("El cierre no fue limpio. Intentando reconectar...");
                            // Reconectar
                            setTimeout(() => reconnectWebSocket(), 5000);
                        }
                    };

                    ws.onerror = (error) => {
                        console.error('Error en la conexión WebSocket:', error.type);
                    };

                });


            });
        </script>

    </main>
{% endblock %}