{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
    <main class="py-2">
        <div class="container-fluid">
            <div class="row justify-content-around py-2">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="dropdown" id="camera-dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            N Cameras
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% for i in camera_count_range %}
                                <li>
                                    <a class="dropdown-item" href="#"
                                       onclick="updateCameraCount(event, {{ i }})">{{ i }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-11 col-md-9 col-lg-9 order-sm-last order-md-first order-lg-first">
                    <div id="camera-display-container" style="height: 65vh;">
                        <style>
                            .camera-status {
                                position: absolute;
                                bottom: 10px;
                                left: 10px;
                                color: white;
                                font-size: 14px;
                                display: flex;
                                align-items: center;
                                gap: 5px;
                            }

                            .status-dot {
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background-color: red; /* Rojo por defecto */
                                margin-right: 5px;
                            }

                            .status-online .status-dot {
                                background-color: green;
                            }

                            .status-offline .status-dot {
                                background-color: red;
                            }


                        </style>
                        <!-- Modal de Bootstrap -->
                        <div class="modal fade" id="cameraModal" tabindex="-1" aria-labelledby="cameraModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cameraModalLabel">Cámara</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body p-0">
                                        <!-- Card con overlay -->
                                        <div class="card text-bg-dark">
                                            <!-- Imagen del feed -->
                                            <img id="modalCameraImage" alt="Camera Feed" class="card-img img-fluid">

                                            <!-- Overlay -->
                                            <div class="card-img-overlay d-flex flex-column justify-content-end">
                                                <p class="card-text">Personas detectadas:</p>
                                                <h4 class="card-title fw-bold" id="peopleCountValue">0</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="camera-display">
                            {% for config in camera_configs %}
                                <div class="card text-bg-dark camera">
                                    <img id="camera-feed-{{ config.port }}" src="{% static 'resources/icon.png' %}"
                                         class="card-img camera-image" alt="Camera {{ config.name }}">
                                    <div class="card-img-overlay" ondblclick="showInModal('{{ config.port }}')">
                                        <h5 class="card-title" id="camera-title-{{ config.port }}">
                                            {{ config.name }}
                                            <span class="card-text" id="people-count-{{ config.port }}">0</span>
                                        </h5>

                                        <p class="card-text" id="camera-port-{{ config.port }}">{{ config.port }}</p>

                                        <!-- Estado de la cámara (online/offline) -->
                                        <span id="camera-status-{{ config.port }}" class="camera-status">
                                            <span class="status-dot" id="status-dot-{{ config.port }}"></span>
                                            <span id="status-text-{{ config.port }}">Desconectado</span>
                                        </span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <style>
                            .camera {
                                float: left;
                                /* @formatter:off */
                                width: calc(100% / {{ cols }} - 2px);
                                height: calc(100% / {{ rows }} - 2px);
                                /* @formatter:on */
                                background-color: #e0e0e0;
                                border: 1px solid #ccc;
                                position: relative;
                            }

                            @media screen and (max-width: 992px) {
                                .camera {
                                    width: 100%;
                                    height: 100%;
                                    background-color: #e0e0e0;
                                    border: 1px solid #ccc;
                                    position: relative;
                                }

                            }

                            .modal-body img {
                                max-height: 80vh; /* Limita la altura máxima para evitar que ocupe más de la pantalla */
                                object-fit: contain; /* Asegura que la imagen mantenga su proporción */
                            }
                        </style>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 order-sm-first order-md-last order-lg-last">
                    <div class="row justify-content-around">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h3>Camaras</h3>
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <ul class="list-group">
                                {% for device in devices %}
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="radio" name="listGroupRadio" value=""
                                               id="firstRadio" checked>
                                        <label class="form-check-label" for="firstRadio">
                                            {{ device.device_id }} (A{{ device.device_id|last }})
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
                integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

        <script>
            // Objeto para guardar las conexiones WebSocket activas
            const activeWebSockets = {};

            function showInModal(port) {
                // Obtener el modal y sus elementos
                const modalImage = document.getElementById('modalCameraImage');
                const modalTitle = document.getElementById('cameraModalLabel');
                const cameraModal = new bootstrap.Modal(document.getElementById('cameraModal'));
                const personCount = document.getElementById('peopleCountValue');

                // Actualizar el título del modal
                modalTitle.textContent = `Cámara ${port}`;

                // Crear un nuevo WebSocket si no existe
                if (!activeWebSockets[port]) {
                    const ws = new WebSocket(`ws://127.0.0.1:${port}/ws`);
                    activeWebSockets[port] = ws;

                    // Configurar el WebSocket para recibir frames
                    ws.onmessage = (event) => {
                        const data = JSON.parse(event.data);
                        if (data.frame) {
                            // Actualizar la imagen del modal con el frame recibido
                            modalImage.src = `data:image/jpeg;base64,${data.frame}`;
                            personCount.textContent = data.people_count;
                        }
                    };

                    ws.onerror = (error) => {
                        console.error(`Error en WebSocket para puerto ${port}:`, error);
                    };

                    ws.onclose = () => {
                        console.log(`WebSocket cerrado para puerto ${port}`);
                        delete activeWebSockets[port]; // Eliminar la referencia
                    };
                }

                // Mostrar el modal
                cameraModal.show();

                // Al cerrar el modal, cerrar el WebSocket si no es necesario mantenerlo
                document.getElementById('cameraModal').addEventListener('hidden.bs.modal', () => {
                    if (activeWebSockets[port]) {
                        activeWebSockets[port].close();
                        delete activeWebSockets[port];
                    }
                });
            }


            function updateCameraCount(event, cameraCount) {
                // Evita que el enlace ancla recargue la página
                event.preventDefault();

                // Llama a la URL con el parámetro de `camera_count`
                fetch(`/home/?camera_count=${cameraCount}`, {
                    method: 'GET',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                    .then(response => response.text())
                    .then(data => {
                        document.getElementById('camera-display-container').innerHTML = data;
                        sendCameraCount(cameraCount);
                    })
                    .catch(error => console.error('Error:', error));


            }

            function sendCameraCount(cameraCount) {
                const camera_config = {{ camera_configs|safe }};


                camera_config.forEach((camera) => {
                    const imageRef = document.getElementById(`camera-feed-${camera.port}`); // Reemplaza con el ID de tu elemento de imagen
                    const personCountRef = document.getElementById(`person-count-${camera.port}`); // Reemplaza con el ID de tu elemento de conteo

                    const ws = new WebSocket(`ws://127.0.0.1:${camera.port}/ws`);

                    ws.onopen = () => {
                        console.log('Conexión WebSocket abierta');
                    };

                    ws.onmessage = (event) => {
                        //console.log('Mensaje recibido del servidor:', event.data);
                        // Puedes procesar la data recibida, como actualizar un elemento <video> o <img>
                        const data = JSON.parse(event.data);
                        if (data.frame) {
                            imageRef.src = `data:image/jpeg;base64,${data.frame}`;
                            personCountRef.textContent = data.people_count;
                        }
                    };

                    ws.onclose = (event) => {
                        console.log('Conexión WebSocket cerrada:', event);
                    };

                    ws.onerror = (error) => {
                        console.error('Error en la conexión WebSocket:', error.type);
                    };

                });
            }

            $(document).ready(function () {


                // Código de inicialización de la página
                console.log('Página cargada');


            });
        </script>

    </main>
{% endblock %}