{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
    <main class="py-2">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-sm-11 col-md-9 col-lg-9 order-sm-last order-md-first order-lg-first">
                    <div id="camera-display-container" style="height: 65vh;">
                        <iframe src="http://200.63.96.130:8088/808gps/open/player/video.html?lang=en&devIdno=0&jsession={{ jsession }}"
                                style="min-height: 75vh; min-width: 100%;">
                        </iframe>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 order-sm-first order-md-last order-lg-last">
                    <div id="tree-js"></div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
                integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

        <script>
            $(document).ready(function () {

                let data_tree = JSON.stringify({{ tree|safe }});
                console.log(data_tree);
                $(function () {
                    $('#tree-js').jstree({
                        'core': {
                            'data': {{ tree|safe }},
                            'multiple': false // Permitir seleccionar solo un nodo a la vez
                        },
                        "types": {
                            "default": {
                                "icon": "bi bi-camera"
                            },
                            "root": {
                                "icon": "bi bi-house"
                            },
                            "camera": {
                                "icon": "bi bi-camera"
                            },
                            "device": {
                                "icon": "bi bi-hdd"
                            }
                        },
                        "checkbox": {},
                        "plugins": ["wholerow", "checkbox", "types", "changed", "unique", "dnd"]
                    });
                });

                $('#tree-js').on("changed.jstree", function (e, data) {
                    console.log(data.selected);
                    const selected = data.selected;
                    const devidno = selected[1].split('_');
                    console.log(devidno[0]);

                    if (devidno) {
                        console.log(`Devino seleccionado: ${devidno[0]}`);
                        //sendDevidnoToServer(devidno); // Enviar al servidor
                        updateIframe(devidno[0]); // Actualizar el iframe
                    } else {
                        console.warn('El nodo seleccionado no tiene un devidno asociado.');
                    }
                });

                // Función para actualizar el iframe dinámicamente
                function updateIframe(devidno) {
                    const iframeContainer = $('#camera-display-container');
                    $.ajax({
                        url: '/load_camera_iframe/', // La ruta de tu vista Django
                        type: 'GET',
                        data: {devidno: devidno},
                        headers: {'X-Requested-With': 'XMLHttpRequest'},
                        success: function (response) {
                            if (response.iframe_html) {
                                iframeContainer.html(response.iframe_html); // Actualiza el iframe dinámicamente
                            } else {
                                console.error('No se recibió HTML válido para el iframe.');
                            }
                        },
                        error: function (xhr, status, error) {
                            console.error('Error al cargar el iframe:', error);
                        }
                    });
                }

            });
        </script>

    </main>
{% endblock %}